<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>登录_沃云网络无线网络</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="no">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<link href="${requri}/static/general/public/sz-telecom/zglt/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="${requri}/static/general/public/sz-telecom/zglt/css/font-awesome.min.css">
<link href="${requri}/static/general/public/sz-telecom/zglt/css/style.css" rel="stylesheet" type="text/css">
<style>
.clr{clear: both;}
</style>
<script src="/static/js/jquery-1.11.0.min.js"></script>

</head>

<body class="reg-bk allcenter reg-c">
<header>
	<div class="logo reg-c"><img src="${requri}/static/general/public/sz-telecom/zglt/images/header-bg.jpg" width="100%" /></div>
</header>

<div class="clr"></div>
<div class="reg-c" style=" margin:10px 0px 10px 0px;/*text-indent: 2em*/; ">
  <h4 align="center"><b>沃云网络信息安全协议</b></h4>
  <p>为保证通信网络信息安全，维护国家安全和社会稳定，保障公民、法人和其他组织的合法权益，沃云网络有限公司与用户经共同</p>
  <p>协商，达成本协议。</p>
  <p>l、本协议所指的信息，是指运行在沃云网络的通信和计算机网络上的信息，包括但不限于语音信息、移动通信信息、互联网信息等。</p>
  <p>2、用户必须严格遵守中华人民共和国相关法律法规，包括但不限于《全国人民代表大会常务委员会关于维护互联网安全的决定》、《中华人民共和国电信条例》、《互联网信息服务管理办法》、《广东省电话信息服务管理规定》等法律法规。</p>
  <p>3、用户必须保证不在沃云网络的通信和计算机网络上制作、复制、发布、传播任何形式的属于《互联网信息服务管理办法》第十五条禁止的如下九类信息：</p>
  <p>1)反对宪法所确定的基本原则的；</p>
  <p>2)危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；</p>
  <p>3)损害国家荣誉和利益的；</p>
  <p>4)煽动民族仇恨、民族歧视，破坏民族团结的；</p>
  <p>5)破坏国家宗教政策，宣扬邪教和封建迷信的；</p>
  <p>6)散布谣言，扰乱社会秩序，破坏社会稳定的；</p>
  <p>7)散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；</p>
  <p>8)侮辱或者诽谤他人，侵害他人合法权益的；</p>
  <p>9)含有法律、行政法规禁止钓其他内容的。</p>
  <p>4.用户承诺对其发表或者上传的所有信息（即属于《中华人民共和国著作权法》规定的作品，包括但不限于文字、图片、音乐、电影、表演和录音录像制品和电脑程序等）均享有完整的知识产权，或者已经得到相关权利人的合法授权j如用户违反本条规定造成沃云网络被第三人索赔的，用户应全额补偿一切费用（包括但不限于各种赔偿费、诉讼代理费及为此支出的其它合理费用）；</p>
  <p>5、用户不得进行以下任何一类行为：</p>
  <p>1)不得为任何非法目的而使用沃云网络服务系统；</p>
  <p>2)遵守所有与网络服务有关的网络协议、规定和程序；</p>
  <p>3)不得进行任何可能对互联网的正常运转造成不利影响的行为。</p>
  <p>6、如用户在使用网络服务时违反上述任何规定，沃云网络有权要求用户改正或直接采取一切必要的措施（包括但不限于暂停或终止用户使用网络服务的权利）以减轻用户不当行为而造成的影响。</p>
  <br/>
  <a href="javascript:history.go(-1);"  class="pass-button b100 " style="color:#FFFFFF;line-height: 47px; display:block;">返&nbsp;&nbsp;回</a>
  <br/>
</div>
<div class="clr"></div>


<footer>
	<div class="copyight"><div class="reg-c" style=" margin:10px 8px 10px 8px;"><p>© 2015 沃云网络 版权所有</p></div></div>
</footer>
</body>
</html>